#parse("/templates/common/head.vm")
#set($title="上传文件")

<input type="file" name="file" class="layui-upload-file"/>上传文件


<script>
    layui.use('upload', function(){
        layui.upload({
            url: '/photo/doUpload' //上传接口
            ,success: function(res){ //上传成功后的回调
                console.log(res)
            }
        });

    });

</script>